.first-price {
  background-color: #5bb189;
}

.first-list {
  list-style-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}

.first-btn {
  button {
    background-color: #5bb189;
  }
}
